<h2>Mobile List Gallery</h2>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="s">
      <img src="./images/s.png" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Samsung Galaxy S9</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="./images/a.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Apple I3</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="./images/n.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Nokia 5321</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="#">
      <img src="./images/m.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Motorola 123</div>
  </div>
</div>

<div class="clearfix"></div>